<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>AddCustomer</servlet-name>
    <servlet-class>servlet.AddCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomer</servlet-name>
    <url-pattern>/addcus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminCustomer</servlet-name>
    <servlet-class>servlet.adminCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminCustomer</servlet-name>
    <url-pattern>/admintable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileSingle</servlet-name>
    <servlet-class>servlet.ProfileSingle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileSingle</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomer</servlet-name>
    <servlet-class>servlet.UpdateCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomer</servlet-name>
    <url-pattern>/updatecus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>deleteCustomer</servlet-name>
    <servlet-class>servlet.deleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustomer</servlet-name>
    <url-pattern>/deleteprof</url-pattern>
  </servlet-mapping>
</web-app>